<p id="notice"><%= notice %></p>

<h1><%= t(:authors_list).capitalize %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t(:name).capitalize %></th>
      <th><%= t(:last_name).capitalize %></th>
      <th><%= t(:biography).capitalize %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.firstname %></td>
        <td><%= author.lastname %></td>
        <td><%= author.biography %></td>
        <td><%= link_to t(:show).capitalize, author %></td>
      </tr>
    <% end %>
  </tbody>
</table>