<p id="notice"><%= notice %></p>

<h1>Listing Authors</h1>

<table class="table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Biography</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.firstname %></td>
        <td><%= author.lastname %></td>
        <td><%= author.biography %></td>
        <td><%= link_to 'Show', author %></td>
      </tr>
    <% end %>
  </tbody>
</table>