<p id="notice"><%= notice %></p>

<h1><%= t(:authors_list).capitalize %></h1>

<table>
  <thead>
    <tr>
      <th><%= t(:name).capitalize %></th>
      <th><%= t(:biography).capitalize %></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <% present author do |author_presenter| %>
        <td><%= author_presenter.link %></td>
        <td><%= author_presenter.short_bio %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @authors %>