<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:name).capitalize %>:</strong>
  <%= @author.firstname %>
</p>

<p>
  <strong><%= t(:last_name).capitalize %>:</strong>
  <%= @author.lastname %>
</p>

<p>
  <strong><%= t(:biography).capitalize %>:</strong>
  <%= @author.biography %>
</p>

<h3><%= t(:books).capitalize %></h3>

<table class="table">
	<thead>
		<tr>
			<th><%= t(:name).capitalize %></th>
			<th><%= t(:price).capitalize %></th>
		</tr>
	</thead>
	<tbody>
		<% @author.books_list.each do |book| %>
			<tr>
				<td><%= link_to book.title, [book.categories[0], book] %></td>
				<td>$<%= book.price %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to t(:back).capitalize, authors_path %>
