<h4><%= t(:new_review).capitalize %></h4>

<div class="row">
  <%= form_tag @new_rating_path.call, method: "post", class: "col s12" do %>
    <div class="row">
      <div class="col s12 input-field">
        <%= label_tag t(:review).capitalize %>
        <%= text_area_tag 'rating[review]', @rating.review, class: "materialize-textarea" %>
      </div>
    </div>

    <div class="row">
      <div class="col s3 input-field">
        <%= select_tag 'rating[rating]', options_for_select(Rating::RATING_RANGE.map{ |item| [item, item] }) %>
        <%= label_tag t(:rating).capitalize %>
      </div>
    </div>

    <button class="btn waves-effect waves-light right" type="submit" name="action"><%= t(:create).capitalize %></button>
  <% end %>
</div>