<%= form_tag next_step_orders_path, method: "post" do %>
	<div class="column">
		<div class="form-group">
			<%= label_tag t(:first_name).capitalize %>
			<%= text_field_tag "customer[firstname]", @current_order.customer.firstname, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= label_tag t(:last_name).capitalize %>
			<%= text_field_tag "customer[lastname]", @current_order.customer.lastname, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= label_tag t(:street_address).titleize %>
			<%= text_field_tag "address[address]", @current_order.billing_address.address, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= label_tag t(:zip).upcase %>
			<%= text_field_tag "address[zip]", @current_order.billing_address.zip, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= label_tag t(:phone).upcase %>
			<%= text_field_tag "address[phone]", @current_order.billing_address.phone, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= select_tag 'address[country_id]', options_for_select(@countries.map{ |item| [item.name, item.id] }, selected: @current_order.billing_address.country_id), class: "form-control" %>
		</div>

		<div class="form-group">
			<%= label_tag t(:city).upcase %>
			<%= text_field_tag "address[city]", @current_order.billing_address.city, class: "form-control" %>
		</div>

		<%= hidden_field_tag "step", Order::STEPS[0] %>

		<%= submit_tag t(:next).capitalize, class: "btn btn-info" %>
	</div>

	<div class="column"></div>

	<div class="column"></div>
<% end %>