<div class="checkout">
  <h5><%= t(:confirm).capitalize %></h5>

  <%= render "order_info" %>

  <%= form_tag next_step_orders_path, method: "post" do %>
    <%= hidden_field_tag "step", Order::STEPS[3] %>
    <%= submit_tag t(:confirm_order).capitalize, class: "btn btn-info" %>
  <% end %>
</div>