<h1><%= t(:confirm).capitalize %></h1>

<%= render "order_info", locals: { current_order: @current_order } %>

<%= form_tag next_step_orders_path, method: "post" do %>
	<%= hidden_field_tag "step", Order::STEPS[3] %>
	<%= submit_tag t(:confirm_order).capitalize, class: "btn btn-info" %>
<% end %>