<%= form_tag next_step_orders_path, method: "post" do %>
	<% Order::DELIVERY_TYPES.each do |item| %>
		<div class="form-group">
			<%= label_tag item[1][:title].to_s + ' +$' + item[1][:price].to_s %>
			<%= radio_button_tag(:delivery_type, item[0]) %>
		</div>
	<% end %>

	<%= hidden_field_tag "step", Order::STEPS[1] %>

	<%= submit_tag t(:next).capitalize, class: "btn btn-info" %>
<% end %>