<h1><%= t(:orders).capitalize %></h1>

<!-- <div class="row">
	<h5><%= t(:in_progress).upcase %></h5>
</div>
 -->
<div class="row">
	<h5><%= t(:waiting_for_progresss).upcase %></h5>
	<table class="table">
		<thead>
			<tr>
				<th><%= t(:order_number).upcase %></th>
				<th><%= t(:completed_at).upcase %></th>
				<th><%= t(:total).upcase %></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @orders.completed.each do |order| %>
			<tr>
				<td><%= order.id %></td>
				<td><%= order.updated_at %></td>
				<td><%= order.total_price %></td>
				<td><%= link_to t(:view), order_path(order) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div class="row">
	<h5><%= t(:delivered).upcase %></h5>
	<table class="table">
		<thead>
			<tr>
				<th><%= t(:order_number).upcase %></th>
				<th><%= t(:completed_at).upcase %></th>
				<th><%= t(:total).upcase %></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @orders.shipped.each do |order| %>
			<tr>
				<td><%= order.id %></td>
				<td><%= order.updated_at %></td>
				<td><%= order.total_price %></td>
				<td><%= link_to t(:view), order_path(order) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
