<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:title).capitalize %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= t(:description).capitalize %>:</strong>
  <%= @book.description %>
</p>

<p>
  <strong><%= t(:books_in_stock).capitalize %>:</strong>
  <%= @book.books_in_stock %>
</p>

<div>
	<h3><%= t(:authors).capitalize %></h3>
	<ul>
		<% @book.authors.each do |author| %>
			<li><%= link_to (author.firstname + ' ' + author.lastname), author %></li>
		<% end %>
	</ul>
</div>

<div>
	<h3><%= t(:categories).capitalize %></h3>
	<ul>
		<% @book.categories.each do |category| %>
			<li><%= link_to category.title, category %></li>
		<% end %>
	</ul>
</div>

<%= link_to t(:back).capitalize, @category %>
