<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Books in stock:</strong>
  <%= @book.books_in_stock %>
</p>

<p>
	<strong>Author</strong>
	<%= link_to (@book.author.firstname + ' ' + @book.author.lastname), @book.author %>
</p>

<%= link_to 'Back', @book.category %>
