<p id="notice"><%= notice %></p>

<%= image_tag @book.picture_url(:thumb_middle) if @book.picture? %>

<p>
  <strong><%= t(:title).capitalize %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= t(:description).capitalize %>:</strong>
  <%= @book.description %>
</p>

<p>
  <strong><%= t(:books_in_stock).capitalize %>:</strong>
  <%= @book.books_in_stock %>
</p>

<div>
	<h3><%= t(:authors).capitalize %></h3>
	<ul>
		<% @book.authors.each do |author| %>
			<li><%= link_to (author.firstname + ' ' + author.lastname), author %></li>
		<% end %>
	</ul>
</div>

<div>
	<h3><%= t(:categories).capitalize %></h3>
	<ul>
		<% @book.categories.each do |category| %>
			<li><%= link_to category.title, category %></li>
		<% end %>
	</ul>
</div>

<div class="reviews">
	<h3><%= t(:reviews).capitalize %></h3>

	<% if can? :review, @book %>
		<%= link_to t(:add_review_for_this_book).capitalize, review_category_book_path(@category, @book) %>
	<% end %>

	<ul>
		<% @book.ratings.accessible_by(current_ability).each do |item| %>
			<li>
				<%= item.review %>

				<% if can? :destroy, item %>
					<%= link_to t(:delete), destroy_review_path(@category, @book, item), data: { confirm: "Are you sure?" }, method: :delete %>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>

<%= link_to t(:back).capitalize, @category %>
