<p id="notice"><%= notice %></p>

<h1><%= t(:categories_list).capitalize %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t(:title).capitalize %></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.title, category %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @categories %>