<div class="row">
  <div class="col s12">
    <a href="<%= categories_path %>">
      <i class="zmdi zmdi-long-arrow-left"></i><%= t(:back).capitalize %>
    </a>
  </div>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:title).capitalize %>:</strong>
  <%= @category.title %>
</p>

<table class="table">
  <thead>
    <tr>
      <th><%= t(:title).capitalize %></th>
      <th><%= t(:description).capitalize %></th>
      <th><%= t(:books_in_stock).capitalize %></th>
    </tr>
  </thead>

  <tbody>
    <% @category.books.each do |book| %>
      <tr>
        <td><%= link_to book.title, [@category, book] %></td>
        <td><%= book.description %></td>
        <td><%= book.books_in_stock %></td>
      </tr>
    <% end %>
  </tbody>
</table>